include mixins/header
include mixins/footer
include mixins/scripts
include mixins/metaPost

doctype html
html
  head
    title
      block title
      | #{document.name} ++ Alexander Savin blog

    block meta
    +metaPost(document.name + ' @ Alexander Savin blog' , document.description)

    link(rel='stylesheet', href='/css/style.css')

  body
    +header('eng')
    main.base
      div.post-container
        div.date-bubble
          | #{document.date}
        h4.title
          | #{document.name}
        div!= document.output
        if document.tags
          div.tags
            ul
              each tag in document.tags
                li
                  a(href="/eng/tags/"+tag.link)!= tag.label
    +footer('eng')
    +scripts


